
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>user name</th>
            <th>email</th>
            <th>Optiones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let speaker of speakers">
            <td>{{speaker._id}}</td>
            <td>{{speaker.userName}}</td>
            <td>{{speaker.email}}</td>
            <td>
                <button class="btn btn-primary" (click)="editSpeaker(speaker)" >Edit</button>
                <span> | </span>
                <button class="btn btn-danger" (click)="deleteSpeaker(speaker._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <input type="button" value="Back To Home" class="btn btn-warning" (click)="back()">
</div>
