
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>date</th>
            <th>Optiones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{event._id}}</td>
            <td>{{event.title}}</td>
            <td>{{event.eventDate}}</td>
            <td>
                <button class="btn btn-danger" (click)="remove(event._id,stdID)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <input type="button" value="Back To Home" class="btn btn-warning" (click)="back()">
</div>

