<div class="container" style="width: 30%; border: 3px solid rgb(253, 253, 253);margin-top: 20px;">
    <div>
        <h1>Welcome to ITI event system!</h1>
        <h3>Login</h3>
        <div class="mb-3">
          <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" [(ngModel)]="user.email">
        </div>
        <div class="mb-3">
          <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" [(ngModel)]="user.password">
        </div>
       
        <button class="btn btn-primary" (click)="login()">Sign in</button>
      
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">New around here? Sign up</a>
      
    </div>
</div>
<router-outlet></router-outlet>

<section [ngStyle]="{'display':adminD}">
  <button class="btn btn-primary">Students</button>
  <span> | </span>
  <button class="btn btn-primary" (click)="eventList()">Events</button>
  <span> | </span>
  <button class="btn btn-primary">Speakers</button>
</section>
<section [ngStyle]="{'display':student}">

</section>
<section [ngStyle]="{'display':speaker}">

</section>
